*.iml
.gradle
/local.properties

# User-specific configurations
.idea/caches/
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml

# Signing files
.signing/

.DS_Store
/build
/captures
.externalNativeBuild
